{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}
<section class="bg-primary">
  <div class="container d-flex justify-content-center align-items-center p-5">
    <div class="form-body w-50 p-3 shadow p-3 mb-5 bg-white rounded">
      <h3 class="text-primary text-center my-3 font-weight-bold">
        Django Chat App signin
      </h3>
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %} {% if next %} {% if user.is_authenticated %}
      <p>
        Your account doesn't have access to this page. To proceed, please login
        with an account that has access.
      </p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %} {% endif %} {% block body %} {% endblock %}
    </div>
  </div>
</section>
{% endblock %}
